@* @model User  *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>congratulation @Context.Session.GetString("uName") on making an account with us</h1>

    <form asp-controller="User" asp-action="logout" method="post"> <button> log out</button></form>
    <form asp-controller="User" asp-action="editUser" asp-route-id ="@Context.Session.GetInt32("uid")" method="get"> <button> update info</button></form>
    <form asp-controller="Company" asp-action="home" method="get" > <button> home</button></form>

</body>
</html>